<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://apitechnobabel.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>apitechnobabel.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>apitechnobabel</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>technobabelapipublisher</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="technobabeldatabaseEntities1" Order="1" Enabled="False">
          <Destination Path="Data Source=technobabelserver.database.windows.net;Initial Catalog=technobabeldatabase;User ID=technobabel;Password=Admin001;Application Name=EntityFramework" Name="Data Source=technobabelserver.database.windows.net;Initial Catalog=technobabeldatabase;User ID=technobabel;Password=Admin001;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=technobabelserver.database.windows.net;Initial Catalog=technobabeldatabase;User ID=technobabel;Password=Admin001;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\technobabeldatabaseEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.TechnobabelModel2.csdl|res://*/Models.TechnobabelModel2.ssdl|res://*/Models.TechnobabelModel2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=technobabelserver.database.windows.net;initial catalog=technobabeldatabase;user id=technobabel;password=Admin001;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="technobabeldatabaseEntities2" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=technobabelserver.database.windows.net;Initial Catalog=technobabeldatabase;User ID=technobabel;Password=Admin001;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\technobabeldatabaseEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.technobabeldatabase.csdl|res://*/Models.technobabeldatabase.ssdl|res://*/Models.technobabeldatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=technobabelserver.database.windows.net;initial catalog=technobabeldatabase;user id=technobabel;password=Admin001;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="technobabeldatabaseEntities3" Order="3" Enabled="False">
          <Destination Path="Data Source=technobabelserver.database.windows.net;Initial Catalog=technobabeldatabase;User ID=technobabel;Password=Admin001;Application Name=EntityFramework" Name="Data Source=technobabelserver.database.windows.net;Initial Catalog=technobabeldatabase;User ID=technobabel;Password=Admin001;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=technobabelserver.database.windows.net;Initial Catalog=technobabeldatabase;User ID=technobabel;Password=Admin001;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\technobabeldatabaseEntities3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.technobabel.csdl|res://*/Models.technobabel.ssdl|res://*/Models.technobabel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=technobabelserver.database.windows.net;initial catalog=technobabeldatabase;user id=technobabel;password=Admin001;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="technobabeldatabaseEntities4" Order="4" Enabled="False">
          <Destination Path="Data Source=technobabelserver.database.windows.net;Initial Catalog=technobabeldatabase;User ID=technobabel;Password=Admin001;Application Name=EntityFramework" Name="Data Source=technobabelserver.database.windows.net;Initial Catalog=technobabeldatabase;User ID=technobabel;Password=Admin001;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=technobabelserver.database.windows.net;Initial Catalog=technobabeldatabase;User ID=technobabel;Password=Admin001;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\technobabeldatabaseEntities4_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.technobabel.csdl|res://*/Models.technobabel.ssdl|res://*/Models.technobabel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=technobabelserver.database.windows.net;initial catalog=technobabeldatabase;user id=technobabel;password=Admin001;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="technobabeldatabaseEntities5" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=technobabelserver.database.windows.net;Initial Catalog=technobabeldatabase;User ID=technobabel;Password=Admin001;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\technobabeldatabaseEntities5_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.technobabel.csdl|res://*/Models.technobabel.ssdl|res://*/Models.technobabel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=technobabelserver.database.windows.net;initial catalog=technobabeldatabase;user id=technobabel;password=Admin001;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="technobabeldatabaseEntities" Order="6" Enabled="False">
          <Destination Path="Data Source=technobabelserver.database.windows.net;Initial Catalog=technobabeldatabase;User ID=technobabel;Password=Admin001;Application Name=EntityFramework" Name="Data Source=technobabelserver.database.windows.net;Initial Catalog=technobabeldatabase;User ID=technobabel;Password=Admin001;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=technobabelserver.database.windows.net;Initial Catalog=technobabeldatabase;User ID=technobabel;Password=Admin001;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\technobabeldatabaseEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.TechnobabelModel.csdl|res://*/Models.TechnobabelModel.ssdl|res://*/Models.TechnobabelModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=technobabelserver.database.windows.net;initial catalog=technobabeldatabase;user id=technobabel;password=Admin001;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)technobabeldatabaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.TechnobabelModel.csdl|res://*/Models.TechnobabelModel.ssdl|res://*/Models.TechnobabelModel.msl;provider=System.Data.SqlClient;provider connection string="data source=technobabelserver.database.windows.net;initial catalog=technobabeldatabase;user id=technobabel;password=Admin001;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)technobabeldatabaseEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.TechnobabelModel2.csdl|res://*/Models.TechnobabelModel2.ssdl|res://*/Models.TechnobabelModel2.msl;provider=System.Data.SqlClient;provider connection string="Data Source=technobabelserver.database.windows.net;Initial Catalog=technobabeldatabase;User ID=technobabel;Password=Admin001;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)technobabeldatabaseEntities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)technobabeldatabaseEntities3-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.technobabel.csdl|res://*/Models.technobabel.ssdl|res://*/Models.technobabel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=technobabelserver.database.windows.net;Initial Catalog=technobabeldatabase;User ID=technobabel;Password=Admin001;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)technobabeldatabaseEntities4-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.technobabel.csdl|res://*/Models.technobabel.ssdl|res://*/Models.technobabel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=technobabelserver.database.windows.net;Initial Catalog=technobabeldatabase;User ID=technobabel;Password=Admin001;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)technobabeldatabaseEntities5-Web.config Connection String" />
  </ItemGroup>
</Project>